<div class="container">

  <div class="col-12 py-4">
    <h2 class="h4 text-center">Premium</h2>
  </div>

  <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
    <ng-container
      *ngFor="let item of productList$ | async | productfilter:'catId':1 | slice: 0:7 | productfilter:'featured': 'true'">
      <div class="col mb-4">
        <div class="card shadow text-center" style="width: auto">
          <img [src]="item.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}
            </p>
            <p class="card-text">Price: ${{ item.price }}
            </p>
            <p class="card-text">Available: {{ item.stock}}
            </p>
            <a href="#" class="btn btn-detail">Grab this one</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input (keyup)="searchEvent($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="col-5 mt-4 p-0">
    <select (change)="orderItems($event)" class="form-control form-control mb-4">
      <option value="none"></option>
      <option value="a-z">A-Z</option>
      <option value="price-up">Price: low to high</option>
      <option value="price-down">Price: high to low</option>
    </select>
  </div>

  <div class="col-12 py-4">
    <h2 class="h4 text-center">Our premium cars</h2>
  </div>

  <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
    <ng-container
      *ngFor="let item of productList$ | async | productfilter:'name':phrase | productfilter:'catId':1 | productsort: order">
      <div class="col mb-4">
        <div class="card shadow text-center" style="width: auto">
          <img [src]="item.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}
            </p>
            <p class="card-text">Price: ${{ item.price }}
            </p>
            <p class="card-text">Available: {{ item.stock}}
            </p>
            <a href="#" class="btn btn-detail">Grab this one</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>
