<div class="container">
  <div class="col-12 py-4">
    <h2 class="h4 text-center">The Godfather's Picks</h2>
  </div>
  <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
    <div class="col mb-4">
      <div class="card shadow text-center" style="width: auto">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-detail">Grab this one</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card shadow text-center" style="width: auto">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-detail">Grab this one</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card shadow text-center" style="width: auto">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-detail">Grab this one</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card shadow text-center" style="width: auto">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-detail">Grab this one</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card shadow text-center" style="width: auto">
        <img src=" ..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-detail">Grab this one</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 py-4">
    <h2 class="h4 text-center">Explore our latest cars</h2>
  </div>
</div>
