<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="form-inline my-2 my-lg-0 py-2">
        <input (keyup)="searchEvent($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="table-responsive-sm">
        <table class="table table-striped table-dark table-bordered table-hover table-sm">
          <thead class="thead-dark text-center">
            <tr>
              <th class="text-warning font-weight-light" *ngFor="let col of cols">{{ col.text }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-2" *ngFor="let col of cols | productfilter: phrase ">
                <input class="input-group" type="text">
              </td>
              <td>
                <app-action-button-group (selectClick)="onSelectClicked()" (updateClick)="onUpdateClicked()"
                  (deleteClick)="onDeleteClicked()">
                </app-action-button-group>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
