<div class="container mx-0">

  <div class="col-12 pt-4">
    <h2 class="h4 text-center">The Godfather's Picks</h2>
  </div>

  <div id="multi-item-element" class="carousel slide carousel-multi-item" data-ride="carousel">

    <div class="controls-top d-flex justify-content-center">
      <a class=" btn-floating d-inline justify-content-center" href="#multi-item-element" data-slide="prev"><i
          class="fa fa-chevron-left"></i></a>
      <a class="btn-floating d-inline justify-content-center" href="#multi-item-element" data-slide="next"><i
          class="fa fa-chevron-right"></i></a>
    </div>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">

        <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
          <ng-container *ngFor="let item of productList$ | async | slice:0:7 | productfilter: 'featured':'true'">
            <div class="col my-4">
              <div class="card shadow text-center" style="width: auto">
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}
                  </p>
                  <p class="card-text">Price: ${{ item.price }}
                  </p>
                  <p class="card-text">Available: {{ item.stock}}
                  </p>
                  <a href="#" class="btn btn-detail">Grab this one</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

      <div class="carousel-item">

        <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
          <ng-container *ngFor="let item of productList$ | async | slice:8:15 | productfilter: 'featured':'true'">
            <div class="col my-4">
              <div class="card shadow text-center" style="width: auto">
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}
                  </p>
                  <p class="card-text">Price: ${{ item.price }}
                  </p>
                  <p class="card-text">Available: {{ item.stock}}
                  </p>
                  <a href="#" class="btn btn-detail">Grab this one</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="carousel-item">

        <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
          <ng-container *ngFor="let item of productList$ | async | slice:16:27 | productfilter: 'featured':'true'">
            <div class="col my-4">
              <div class="card shadow text-center" style="width: auto">
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}
                  </p>
                  <p class="card-text">Price: ${{ item.price }}
                  </p>
                  <p class="card-text">Available: {{ item.stock}}
                  </p>
                  <a href="#" class="btn btn-detail">Grab this one</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

      <div class="carousel-item">

        <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
          <ng-container *ngFor="let item of productList$ | async | slice:28:38 | productfilter: 'featured':'true'">
            <div class="col my-4">
              <div class="card shadow text-center" style="width: auto">
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}
                  </p>
                  <p class="card-text">Price: ${{ item.price }}
                  </p>
                  <p class="card-text">Available: {{ item.stock}}
                  </p>
                  <a href="#" class="btn btn-detail">Grab this one</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="carousel-item">

        <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
          <ng-container *ngFor="let item of productList$ | async | slice:38:50 | productfilter: 'featured':'true'">
            <div class="col my-4">
              <div class="card shadow text-center" style="width: auto">
                <img [src]="item.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description }}
                  </p>
                  <p class="card-text">Price: ${{ item.price }}
                  </p>
                  <p class="card-text">Available: {{ item.stock}}
                  </p>
                  <a href="#" class="btn btn-detail">Grab this one</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 py-4">
    <h2 class="h4 text-center">Explore our latest cars</h2>
  </div>
  <div class="row row-featured row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-around">
    <ng-container *ngFor="let item of productList$ | async | slice:0:5">
      <div class="col mb-4">
        <div class="card shadow text-center" style="width: auto">
          <img [src]="item.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}
            </p>
            <p class="card-text">Price: ${{ item.price }}
            </p>
            <p class="card-text">Available: {{ item.stock}}
            </p>
            <a href="#" class="btn btn-detail">Grab this one</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
